html, body {
  margin: 0;
  padding: 10;
  background-color: rgba(12, 33, 55);

}
canvas {
  display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  width: 100%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding-top: 10px;
}

.control {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-style: Bold;
  font-size: 16px;
  color: white;
  padding: 0px;

}

#data1{
  color: rgba(161, 193, 129);
}
#data2{
  color: rgba(174, 126, 183);
}
#data3{
  color: rgba(221, 191, 131);
}
#data4{
  color: rgba(115, 167, 218);
}

#explanation {
  width: 100%;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-style: Bold;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 5px;
}

div {
  position: relative;
  width: 100%;
  padding-left: 620px;
  padding-bottom: 0px;

}
